<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <%- partial('_partial/post/gallery') %>
  <div class="content" itemprop="articleBody">
      <% if (page.search || page.type === "search") { %>
        <%- partial('_partial/search') %>
      <% } else if (page.type === "tags") { %>
          <div id="tag-cloud">
            <div class="tag-cloud-title">
                <% var visibleTags = 0 %>
                <% site.tags.each(function(tag){ %>
                  <% if (tag.length) { %>
                    <% visibleTags += 1 %>
                  <% } %>
                <% }) %>
                <%- _p('counter.tag_cloud', visibleTags) %>
            </div>
            <div class="tag-cloud-tags">
              <%- tagcloud({min_font: 12, max_font: 30, amount: 300}) %>
            </div>
          </div>
        <% } else if (page.type === 'categories') { %>
          <div id="archive">
              <% site.categories.filter(i=>!i.parent).each(function(cat){ %>
                <% if (cat.length) { %>
                  <ul class="post-list">
                    <li class="post-year"><h2><%= cat.name %></h2></li>
                    <% cat.posts.each(function(post){ %>
                      <li class="post-item">
                        <span><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %></span>
                      </li>
                    <% }) %>
                  </ul>
                <% } %>
              <% }) %>           
          </div>
        <% } else { %>
          <%- page.content %>
        <% } %>
  </div>
</article>
